<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'time_display_app/css/style.css' %}">    
    <script src="{% static 'time_display_app/js/script.js' %}"></script>
</head>
<body>
    <h1>Time Display</h1>
    <p class="heading"> The Current time and date:</p>
    <p class="time">{{date}}
    <br>
    {{time}}</p>

</body>
</html>